:root {
    --background-base: #FFF;
    --accents-1-base: #FAFAFA;
    --accents-2-base: #EAEAEA;
    --accents-3-base: #999;
    --accents-4-base: #888;
    --accents-5-base: #666;
    --accents-6-base: #999;
    --accents-7-base: #333;
    --accents-8-base: #111;
    --foreground-base: #000;

    --red-lighter-base: #F7D4D6;
    --red-light-base: #FF1A1A;
    --red-base: #E00;
    --red-dark-base: #C50000;

    --blue-lighter-base: #D3E5FF;
    --blue-light-base: #3291FF;
    --blue-base: #0070F3;
    --blue-dark-base: #0761D1;

    --marigold-lighter-base: #FFEFCF;
    --marigold-light-base: #F7B955;
    --marigold-base: #F5A623;
    --marigold-dark-base: #AB570A;

    --violet-lighter-base: #D8CCF1;
    --violet-light-base: #8A63D2;
    --violet-base: #7929CA;
    --violet-dark-base: #4C2889;

    --cyan-lighter-base: #AAFFEC;
    --cyan-light-base: #79FFE1;
    --cyan-base: #50E3C2;
    --cyan-dark-base: #29BC9B;

    --highlight-purple: #F81CE5;
    --highlight-magenta: #EB367F;
    --highlight-pink: #FF0080;
    --highlight-yellow: #FFF500;
}
