@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --accents-1: #111;
        --accents-2: #333;
        --accents-3: #444;
        --accents-4: #666;
        --accents-5: #888;
        --accents-6: #999;
        --accents-7: #EAEAEA;
        --accents-8: #FAFAFA;
        --foreground: #FFF;

        --red-lighter: #C50000;
        --red-light: #E00;
        --red: #FF1A1A;
        --red-dark: #F7D4D6;

        --blue-lighter: #0761D1;
        --blue-light: #0070F3;
        --blue: #3291FF;
        --blue-dark: #D3E5FF;

        --marigold-lighter: #AB570A;
        --marigold-light: #F5A623;
        --marigold: #F7B955;
        --marigold-dark: #FFEFCF;

        --violet-lighter: #4C2889;
        --violet-light: #7929CA;
        --violet: #8A63D2;
        --violet-dark: #D8CCF1;

        --cyan-lighter: #29BC9B;
        --cyan-light: #50E3C2;
        --cyan: #79FFE1;
        --cyan-dark: #AAFFEC;

        --highlight-purple: #F81CE5;
        --highlight-magenta: #EB367F;
        --highlight-pink: #FF0080;
        --highlight-yellow: #FFF500;

        --highlight-selection: var(--highlight-purple);
    }
}
