img {
    pointer-events: none;
}

button:not(:disabled):not([type]):not(:hover) > img[adapt] {
    filter: invert();
}

button:disabled img {
    filter: contrast(0.3);
}

@media(prefers-color-scheme: dark) {
    img[adapt] {
        filter: invert();
    }

    button:not(:disabled):not([type]):not(:hover) > img[adapt] {
        filter: none;
    }

    button:hover img[adapt] :not(:disabled) {
        filter: invert();
    }
}
