input,
select {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.3rem;
    background: var(--background);
    color: var(--foreground);
    border-color: var(--accents-2);
    border-width: 1px;
    border-style: solid;
    outline: none;
    transition: all 0.25s ease;
    font-weight: 300;
}

input:focus,
select:focus {
    border-color: var(--accents-6);
}

input:disabled,
select:disabled {
    background: var(--accents-1);
    color: var(--accents-3);
    border-color: var(--accents-3);
    cursor: not-allowed;
}

select {
    appearance: none !important;
    padding-right: 1rem;
    background-image: url("icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 0.5rem);
}

select:active {
    background-image: url("icons/chevron-up.svg");
}
