html {
    --background: var(--background-base);
    --accents-1: var(--accents-1-base);
    --accents-2: var(--accents-2-base);
    --accents-3: var(--accents-3-base);
    --accents-4: var(--accents-4-base);
    --accents-5: var(--accents-5-base);
    --accents-6: var(--accents-6-base);
    --accents-7: var(--accents-7-base);
    --accents-8: var(--accents-8-base);
    --foreground: var(--foreground-base);

    --red-lighter: var(--red-lighter-base);
    --red-light: var(--red-light-base);
    --red: var(--red-base);
    --red-dark: var(--red-dark-base);

    --blue-lighter: var(--blue-lighter-base);
    --blue-light: var(--blue-light-base);
    --blue: var(--blue-base);
    --blue-dark: var(--blue-dark-base);

    --marigold-lighter: var(--marigold-lighter-base);
    --marigold-light: var(--marigold-light-base);
    --marigold: var(--marigold-base);
    --marigold-dark: var(--marigold-dark-base);

    --violet-lighter: var(--violet-lighter-base);
    --violet-light: var(--violet-light-base);
    --violet: var(--violet-base);
    --violet-dark: var(--violet-dark-base);

    --cyan-lighter: var(--cyan-lighter-base);
    --cyan-light: var(--cyan-light-base);
    --cyan: var(--cyan-base);
    --cyan-dark: var(--cyan-dark-base);

    --highlight-selection: var(--cyan-lighter);
}
