*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    border-width: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}
