@import "reset.css" layer(reset);
@import "colors.css" layer(colors);
@import "light.css" layer(light);
@import "dark.css" layer(dark);
@import "fonts.css" layer(fonts);

html, body {
    color: var(--foreground);
    background: var(--background);
}

::selection {
    background: var(--highlight-selection);
}
